@charset "utf-8";
* {
	margin:0;
	padding:0;
}
 
body {
	background-color:#eeeeee;
	font-family: open-sans-condensed;
	font-style: normal;
	}
.wrapper {background-color:#ffffff;
	margin: 0px 10%;	
}
.logo {
	margin: 20px 35px 50px;
	}
.header {	
	background-color:#535353;
	margin: 0px 35px 30px;
	width: 94%;	
	}
ul.top-menu {
	margin: 0px;
	list-style: none;	
}
ul.top-menu li {
	display:inline-block;
	text-align:center;
	}
	
ul.top-menu li a {
	display: block; 
	padding: 10px 15px; 
	color: #ffffff; 
	text-decoration: none;
	border-left: solid 1px #535353;
	border-right: solid 1px #535353;
			}
.header li a:hover {
		background-color:#444444;
		border-right:solid 1px white;
		border-left:solid 1px white;		
	}
.left {	
	float:left;
	word-wrap:break-word;
	background-color: white;
	margin: 0px 0px 0px 35px;
	border: solid 1px #c8c8c8;
	width: 20%;
	}
ul .side-menu {
	margin: 0px;
	list-style: none;
	}
ul.side-menu li {
	display:block;
	text-align: left;
	height:30px;
	padding: 0px;
	border: solid 1px #c8c8c8;
	}
ul.side-menu li a {
	display:block;
	padding: 5px 15px;
	text-decoration:none;
	color:#656363;
}
ul.side-menu li a:hover {
	background-color: #f9f9f9;
	color:#2c2c2c;
	padding-left:25px;
	}
	
 .content {
	 
		margin: 0px -1% 0px 3%;
	 	padding: 0px 45px 0px 25px;
		display: block;
		width: 68%;
		float: right;		
}
.wheel {	
	border: solid 1px #c8c8c8;
	width: 735px;
	height:auto;
	  	}
p { display: block;
	padding: 20px ;
	color: #2c2c2c;
	font-family: open-sans-condensed;
	font-style: normal;
	font-size: 14px;
	line-height: 25px;
	width: 735px;
}
.footer {
	background-color: #e1e1e1;
	margin: 20px 35px;
	width: 94%;
	clear: both;
	}
ul.bot-menu {
	margin:0;
	list-style: none;
}
ul.bot-menu li {
	display:inline-block;
	text-align: center;
	}
ul.bot-menu li a {
	display: block;
	padding: 10px 16px;
	text-decoration:none;
	color: #2c2c2c;
}
ul.bot-menu li a:hover {
	text-decoration:underline;
}

.copyright {
	float:right;
	display: block;
	padding: 10px 16px;
	text-decoration:none;
	color: #2c2c2c;
	}
