* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #974fe4;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font: 30px/1.375 "Lato", arial, sans-serif;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100vw;
}

.button {
  color: #000;
  background: url(../images/nav_logo242.png) no-repeat -96px -54px chocolate;
}

#___gcse_0 {
  width: 65%;
}

#start-button {
  width: 40px;
  height: 20px;
}

.gsc-control-cse {
  border-radius: 10px;
}

#start-button.gsc-search-button-v2 {
  display: none;
  padding: 6px 25px;
  background-color: #fff;
}