@charset "utf-8";

* {
margin:0;
padding:0;
}

.phones,.goods-cost,a.content-side-menu:hover,input.confirm,.price16px,.price12px,.footer p,.footer a {
font-family:Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.register,.password-forgot,ul.middle-list,.container,.name,.head-side-menu-left,.head-side-menu-right {
font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans",Verdana,sans-serif;
}

ul {
list-style:none;
}

.wrapper {
margin:0 auto;
width:909px;
}

.header {
margin-top:10px;
padding-bottom:13px;
}

.phones {
color:#5e696d;
float:left;
margin:5px 0 0 6px;
width:auto;
}

.phones img {
float:left;
}

.phones span {
font-size:18px;
margin-left:5px;
}

.input-login {
border-radius:4px;
width:487px;
height:26px;
float:left;
margin:0 0 10px 13px;
padding:0 0 0 7px;
background-image:linear-gradient(-90deg,#206988 0%,#114165 59%,#0f3a5e 85%,#0c3256 100%);
box-shadow:0 3px 3px 0 rgba(150,150,150,0.75);
}

.input-login div {
float:left;
}

.input-login img {
margin:4px 7px 0 0;
}

.input-name {
float:left;
font-size:11px;
width:106px;
margin:4px 11px 0 -4px;
height:15px;
padding:0 0 0 6px;
color:#51676f;
border:1px solid #97a2a6;
border-radius:2px;
}

.input-password {
float:left;
font-size:11px;
width:106px;
margin:4px 9px 0 -4px;
height:15px;
padding:0 0 0 6px;
color:#51676f;
border:1px solid #97a2a6;
border-radius:2px;
}

.input-login-submit {
float:left;
border:none;
background:none;
color:#fff;
margin:5px 0 0;
padding:1px 3px 0 0;
font-size:11px;
cursor:pointer;
}

.input-login span {
color:#fff;
font-size:11px;
}

.register {
display:inline-block;
color:#fff;
font-size:11px;
text-decoration:none;
margin:4px 0 5px -3px;
padding:0 0 5px;
}

.password-forgot {
float:right;
color:#bfbfbf;
margin:3px 0 0;
padding:0 8px 0 0;
font-size:12px;
text-decoration:underline;
}

.top-right-menu {
float:right;
border:solid 1px #bdc4c7;
border-radius:15px;
background-color:#fff;
width:75px;
height:20px;
margin:1px 6px 0 11px;
text-align:center;
}

.top-right-menu img {
margin:3px 5px 5px 0;
cursor:pointer;
}

nav.info {
margin-top:-11px;
text-align:center;
width:909px;
height:24px;
border:1px solid #000;
border-radius:4px;
padding:4px 0;
background-image:-webkit-linear-gradient(90deg,#000 0%,#2c3034 87%,#576068 100%);
box-shadow:0 3px 5px 0 rgba(0,0,0,0.75);
}

ul.middle-list {
float:left;
list-style-type:none;
display:list-item;
margin:-2px 0 15px 123px;
width:auto;
}

ul.middle-list li {
display:inline-block;
font-size:14px;
text-align:center;
}

a.info-menu {
color:#b1bcc0;
text-decoration:none;
padding:4px 12px;
display:block;
width:100%;
text-align:center;
border-radius:15px;;
}

a.info-menu:hover {
color:#fff;
background-image:-webkit-linear-gradient(-90deg,#206988 0%,#114165 59%,#0f3a5e 85%,#0c3256 100%);
}

.goods-cost {
float:right;
font-size:12px;
width:auto;
margin:-2px 15px 0 0;
}

a.basket img {
margin:0 0 -4px;
padding:5px 2px 0 0;
}

span.cost {
color:#929b9f;
}

span.digit {
color:#0d5a8f;
}

.choose-a-goods {
clear:both;
margin:12px 3px 19px 7px;
}

.search-by-auto,.search-tire,.search-disc {
height:133px;
background-color:#fff;
border-right:1px solid #9c9c9d;
border-radius:16px;
box-shadow:0 5px 7px 3px rgba(150,150,150,0.75);
display:inline-block;
text-align:center;
}

p.bad {
color:red;
line-height:45px;
font-size:20px;
font-weight:700;
}

.search-by-auto {
width:412px;
float:left;
margin-right:14px;
}

.search-tire {
width:192px;
}

.search-disc {
float:right;
width:268px;
}

.just {
width:auto;
clear:both;
}

.container {
display:inline-block;
width:auto;
margin:0 auto;
}

.content-side-left {
float:left;
}

.left-head {
color:#114165;
text-align:center;
border:1px solid #79878d;
width:160px;
height:25px;
border-radius:15px;
box-shadow:0 3px 3px 0 rgba(150,150,150,0.75);
background:url(../img/list.png) no-repeat;
background-position:2px;
padding-left:21px;
margin-bottom:13px;
display:block;
text-align:center;
}

.left-head span {
display:block;
font-size:13px;
padding:3px 0;
}

.tires,.discs,.bolts {
color:#114165;
width:144px;
height:22px;
border:1px solid #79878d;
border-radius:15px;
background:url(../img/lap.png) no-repeat;
background-position:6px 1px;
padding-top:5px;
padding-left:6px;
}

.tires span,.discs span,.bolts span {
display:block;
font-size:14px;
margin-left:25px;
}

.discs {
margin:-7px 0 0;
}

.bolts {
margin:-7px 0 0;
}

a.content-side-menu {
color:#465961;
text-decoration:none;
font-size:13px;
display:block;
margin:2px 0 6px 37px;
padding:0;
}

a.content-side-menu:hover {
text-decoration:underline;
color:#0c3256;
font-size:14px;
font-style:italic;
font-weight:700;
margin:2px 0 6px 37px;
}

a.content-side-menu:before {
content:"";
width:8px;
height:8px;
background:url(../img/marker.png);
background-position:-8px 0;
display:inline-block;
margin:5px 3px 0 0;
}

a.content-side-menu:hover:before {
width:8px;
height:8px;
background:url(../img/marker.png);
display:inline-block;
margin:5px 3px 0 0;
}

.content-center a {
text-decoration:none;
}

.content-center {
display:inline-block;
margin:-4px 6px 0 8px;
padding:23px 0 0;
width:527px;
height:605px;
border-radius:3px;
background-color:#A1B3BB;
background-image:-webkit-linear-gradient(270deg,rgba(229,231,232,1.00) 0%,rgba(161,179,187,1.00) 100%);
}

.brend1-1,.brend1-2,.brend1-3 {
display:inline-block;
text-align:center;
margin:0 0 26px;
}

.brend1-1>figure,.brend1-2>figure,.brend1-3>figure {
display:inline-block;
}

.brend1-1>.nokian1>.foto {
margin-top:7px;
}

.brend1-2>.nokian1>.foto {
margin-top:8px;
}

.brend1-3>.nokian1>.foto {
margin-top:7px;
}

.brend1-1>.hankook1>.foto {
margin-top:7px;
}

.brend1-2>.hankook1>.foto {
margin-top:8px;
}

.brend1-3>.hankook1>.foto {
margin-top:9px;
}

.goodyear1 {
margin:0 0 0 21px;
}

.nokian1 {
margin:0 4px 0 20px;
}

.hankook1 {
margin:0 0 0 19px;
}

.name,.model,.price {
display:block;
}

.name {
font-size:15px;
font-weight:700;
color:#206988;
line-height:0;
margin:1px 0 0 2px;
}

.model {
color:#1f2528;
font-size:13px;
line-height:0;
margin:14px 0 4px 4px;
}

.price {
margin:-8px 0 0 11px;
}

.price16px {
color:#114165;
font-size:16px;
font-weight:700;
font-style:italic;
line-height:0;
}

.price12px {
display:inline-block;
color:#114165;
font-size:12px;
font-weight:700;
font-style:italic;
margin:0 0 0 4px;
}

.content-side-right {
float:right;
}

.head-right {
color:#114165;
border:1px solid #79878d;
width:166px;
height:25px;
border-radius:15px;
box-shadow:0 3px 3px 0 rgba(150,150,150,0.75);
background:url(../img/list.png) no-repeat;
background-position:2px 1px;
padding:0 0 0 12px;
margin:-1px 0 14px 4px;
display:block;
}

.head-right span {
display:block;
font-size:13px;
padding:3px 0 0 19px;
}

.brends-tires {
display:block;
color:#114165;
width:131px;
height:21px;
border:1px solid #79878d;
border-radius:15px;
background:url(../img/lap.png) no-repeat;
background-position:6px 1px;
padding:5px 0 0 7px;
margin:0 0 4px 16px;
}

.brends-tires span {
display:block;
font-size:14px;
margin-left:25px;
}

.brend-check {
margin:-3px 0 3px -1px;
}

label {
color:#465961;
font-size:13px;
line-height:10px;
}

.side-brends-right {
vertical-align:top;
margin:9px 3px 0 30px;
border:1px solid #114165;
width:10px;
}

.brends-discs {
display:block;
color:#114165;
width:129px;
height:21px;
border:1px solid #79878d;
border-radius:15px;
background:url(../img/lap.png) no-repeat;
background-position:4px 1px;
padding:4px 0 0 8px;
margin:10px 0 6px 16px;
}

.brends-discs span {
display:block;
font-size:13px;
margin-left:25px;
}

.confirm {
text-align:center;
margin:15px 0 0 26px;
padding:3px 0 0 2px;
display:block;
width:82px;
height:26px;
font-size:12px;
color:#e5e9ea;
line-height:1.2px;
border:1px solid #a7abae;
border-radius:15px;
background-image:-webkit-linear-gradient(-90deg,#206988 0%,#114165 59%,#0f3a5e 85%,#0c3256 100%);
box-shadow:1px 2px 2px 0 #bec0c1;
cursor:pointer;
}

.logos {
margin:19px 0 10px 2px;
text-align:center;
}

.footer {
width:909px;
height:84px;
background-color:#213a4d;
margin:0 auto;
text-align:center;
padding:5px 0 9px;
margin-bottom:15px;
}

.footer li {
display:inline-block;
color:#afb7bc;
padding:0 4px;
font-size:12px;
}

.footer a {
color:#bec6c9;
text-decoration:none;
font-size:12px;
line-height:25px;
}

.footer a:hover {
color:#52abcb;
}

.footer p {
font-size:10px;
color:#7f4740;
line-height:26px;
}