@charset "utf-8";
@import url("helveticaneue_thin/stylesheet.css");
@import url("Merkur/stylesheet.css");

/* CSS Document */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: palevioletred;
}

.wrapper {
    margin: 0 auto;
    background-color: hotpink;
    width: 80%;
}

.header {
    height: 50px;
    margin: 0 auto;
    white-space: 60%;
    background-color: blueviolet;
    color: #fff;
    text-align: center;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif
}

#stop-watch {
    margin: 0 auto;
    border: 14px solid #000;
    border-radius: 25px;
    height: 250px;
    width: 85%;
    text-align: center;
}

#indicate,
#milliseconds {
    font-size: 150px;
    font-style: italic;
    display: inline-block;
}

#indicate {
	width:50%;
}

#milliseconds {
    font-size: 50px;
    width: 100px;
    margin-right: 49px;
}

.control, #write-here {
    text-align: center;
    background-color: yellow;
}

#write-here{
    padding-top: 70px;
    display: block;
    background-color: blue;
}

.start,
.pause,
.stop,
.split {
    display: inline-block;
    margin: 10px 15px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
}

.hide {
    display: none;
}

.splitted {
    font-family: Merkur;
    display: block;
    font-size: 25px;
    background-color: deepskyblue;
    width: 260px;
    margin-left: 40%;
    border: 2px #000 solid;
    border-radius: 22px;
   
}
