@charset "utf-8";

*	{margin:0;
	padding: 0;
}
body {
	background: #dddddd;
}

div {padding-left: 30%;
padding-right: 30%;
padding-top: 5%;
padding-bottom: 5%;
}

.bleft {
	border-left: solid 1px black;
}
.bright {
border-right: solid 1px black;
}
.btop {border-top: solid 1px black;
}
.bbottom{border-bottom: solid 1px black;}
td, tr {
	border: solid 3px black;
}
.bgwhite {
	background: white;
}