/* CSS Document */

#slider-here {
    margin-top: -11px;
    text-align: center;
    width: 909px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 4px 0;
    background-image: -webkit-linear-gradient(90deg, #000 0%, #2c3034 87%, #576068 100%);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.75);
} /**/

#slider-here ul {
    float: left;
    list-style-type: none;
    display: list-item;
    margin: -2px 0 15px 123px;
    width: auto;
} /**/



 #slider-here ul li {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    position: relative;
} /**/

#slider-here li ul {
    position: absolute;
    left: -160px;
    top: 50px;
}

#slider-here li li {
    display: block;
    position: relative;
   
}

#slider-here li li ul {
    position: absolute;
    top: 10px;
    left: 73px;
    margin: 0;
}
/*/////////////////////*/

#slider-here a {
    color: #b1bcc0;
    text-decoration: none;
    padding: 4px 12px;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 15px;
    background-image: -webkit-linear-gradient(90deg, #000 0%, #2c3034 87%, #576068 100%);
} /**/

#slider-here ul.this-is-slider {
    display: none;
}

a.info-menu:hover {
    color: #fff;
    background-image: -webkit-linear-gradient(-90deg, #206988 0%, #114165 59%, #0f3a5e 85%, #0c3256 100%);
}

.goods-cost {
    float: right;
    font-size: 12px;
    width: auto;
    margin: -2px 15px 0 0;
}

a.basket img {
    margin: 0 0 -4px;
    padding: 5px 2px 0 0;
}

span.cost {
    color: #929b9f;
}

span.digit {
    color: #0d5a8f;
}