/* CSS Document */

#slider-here li ul {
    position: absolute;
    left: 140px;
    top: 40px;
}

#slider-here li li {
    display: block;
    position: relative;
}

#slider-here li li ul {
    position: absolute;
    top: 14px;
    left: 130px;
    margin: 0;
}
.submenu {
    position:relative;
}

/*/////////////////////*/

.info a {
    color: #b1bcc0;
    text-decoration: none;
    padding: 4px 12px;
    display: block;
    float: left;
    text-align: center;
    border-radius: 15px;
    background-image: -webkit-linear-gradient(90deg, #000 0%, #2c3034 87%, #576068 100%);
    font-size: 13px;
}


/**/

#slider-here ul.this-is-slider {
    display: none;
}

#slider-here a:hover {
    color: #fff;
    background-image: -webkit-linear-gradient(-90deg, #206988 0%, #114165 59%, #0f3a5e 85%, #0c3256 100%);
}