* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    padding: 5% 0;
}

.wrapper {
    margin: 0 auto;
    width: 70%;
    background-color: #fff;
    padding: 20px 40px 20px;
}

.top-text {
    text-align: center;
    margin-bottom: 25px;
}

.aQuestion {
    font-size: 18px;
    padding-bottom: 8px;
}

.someAnswer {
    padding: 2px 0 5px 18px;
}

.confirm-answers {
    width: 250px;
    text-align: center;
    height: 30px;
    background-color: skyblue;
    margin-left: 28%;
}