@import url("OpenSans_Regular/stylesheet.css");
* {
	margin:0;
	padding:0;
}
 
body {
	background-color: #eeeeee;
	font-family: "OpenSans Regular";
	font-style: normal;
	padding: 0px 110px;
	}
.wrapper {
	background-color:#ffffff;
	width: 1070px;
	padding: 50px 50px 60px 50px;	
}
.logo {
	margin: 20px 35px 50px;
	}
.header {	
	background-color:#535353;
	margin: 0px 35px 30px;
	width: 980px;
	height: 40px;
	}

ul.top-menu li {
	display:inline-block;
	text-align:center;
	font-size:14px;
	width: 100px;	
	}
	
ul.top-menu li a {
	display: block;
	padding: 10px;
	color: #ffffff; 
	text-decoration: none;
	border-left: solid 1px #535353;
	border-right: solid 1px #535353;
			}
.header li a:hover {
		background-color:#444444;
		border-right:solid 1px #838383;
		border-left:solid 1px #838383;		
	}
.left {	
	float:left;
	word-wrap:break-word;
	background-color: white;
	margin: 0px 40px 0px 35px;
	border-top: solid 1px #c8c8c8;
	border-left: solid 1px #c8c8c8;
	border-right: solid 1px #c8c8c8;
	width: 240px;
	height: 246px;
}

ul.side-menu li {
	display:block;
	text-align: left;
	height: 40px;
	border-bottom: solid 1px #c8c8c8;
	}
	
ul.side-menu li a {
	display:block;
	padding: 9px 15px;
	text-decoration:none;
	color:#656363;
}
ul.side-menu li a:hover {
	background-color: #f9f9f9;
	color:#2c2c2c;
	padding-left:25px;
	}
	
 .content {
		display: block;
		width: 676px;
		float: right;
		margin: 0px 75px 0px 0px;		
}
.wheel {	
	border: solid 1px #c8c8c8;
	padding: 75px 95px 55px 95px;
	
}
p {	display: block;
	color: #2c2c2c;
	font-style: normal;
	font-size: 13px;
	line-height: 21px;
	padding: 40px 20px 55px 20px;
}
.footer {
	background-color: #e1e1e1;
	margin: 20px 35px;
	width: 980px;
	height: 40px;
	clear: both;
	}
ul.bot-menu {
	margin:0;
	list-style: none;
}
ul.bot-menu li {
	display:inline-block;
	text-align: center;
	}
ul.bot-menu li a {
	display: block;
	padding: 10px 16px;
	text-decoration:none;
	color: #2c2c2c;
}
ul.bot-menu li a:hover {
	text-decoration:underline;
}

.copyright {
	float:right;
	display: block;
	padding: 10px 16px;
	text-decoration:none;
	color: #2c2c2c;
	}
