* {
	padding: 0;
	margin: 0;
}

body {
	background-color: grey;
	padding: 25px;	 	
}
li {list-style-type: none;}

.wrapper {
	height: 1065px;
	width: 1215px;
	background-color: #fff;
	border: 1px solid #000;
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-position:center
}
p, a, li, h1, label, .forms{
	font-family: 'helvetica_neueregular';
}
/*/Здесь начинается хедер/*/

  .header {
margin: 0px;
padding: 0px;
text-align: right;
width: 1215px;
height: 35px;
background-color: #074d8a;
}

ul .top-menu  {
	height: 35px;
	list-style: none;
	font-size: 0px;
	line-height:0px;
	letter-spacing:0px;
	padding:0px;
}
.top-nav-menu {	
	text-align: left; 
	display:inline-block;	
}

.top-nav-menu a {
	display: block;
	padding: 9px 13px;
	font-size: 14px;
	color: #4eabda;
	text-decoration:none;
}
.top-nav-menu a:hover  {
	background-color: #4eabda;
	color: #FFF;	
}
.right-nav-menu a {
	display: inline-block;
	font-size: 14px;
	color: #fff;
	text-decoration:none;
}
.right-nav-menu {
	text-align: center; 
	display:inline-block;	
}

li:nth-child(5) {
	border-right: solid 1px #56a2dc;
}
li:first-child {	
	text-align: left;
}
.invent {
	list-style: none;
	background-image: url(../img/flag.png);
	background-repeat:no-repeat;
	background-position:left;
	padding-left: 20px;
}
.last {padding: 0px 20px 0 0}
	
a:hover .underline {
	text-decoration: underline;
}
/*Здесь заканчивается хедер и начинается центральная форма*/

.content {
	width: 560px;
    height: 613px;
	background: rgba(0,0,0,0.63);
	margin: 213px 300px 200px 350px;
	}
h1 {
	font-size:24px;
	color: #FFF;
	text-align: center;
	line-height: 80px;	
}
hr {
	color: #b8c3b3;
}
.button_f {
	margin: 35px 138px 0px;
	height: 35px;
	border: 0px;
	border-radius: 4px;
	cursor:pointer;
	}
.horiz {
	margin: 25px 138px 15px;
}

.forms {
	margin: 5px 138px;
	width: 284px;
  	height: 21px;
	color: #FF0;
	background-color: #100f0f;
	font-size: 14px;
	padding: 7px 15px;
	border: 0;
	border-bottom: solid 1px #484948;	
}
input[type="text"]::-webkit-input-placeholder { color: #ffffff; }
.forms:focus {background-color: #1b5288;
border-bottom: solid 1px #689bcc;   
box-shadow: 2px 2px 5px 5px rgba(27,82,136,0.75);
}
label {
	margin: 5px 138px;
	font-size: 14px;
	color: #FFF;
	letter-spacing: 0.05em;
}
.button-submit {
	margin: 25px 37%;
	background: linear-gradient(to top, #3686ca, #4faddb);
	font-size: 16px;
	color: #ffffff;
	padding:7px;
	border: 0px;
	border-radius: 4px;
	box-shadow: 0 0 3px 0px;
	cursor: pointer;
}
.agreement {
	display: block;
	font-size: 11px;
	color: #ffffff;
	margin: 10px 138px;
	text-align: center;
}
